.blog-container{
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 70vw;
  align-items: center;
}

.card {
  flex: 1.5;
  flex-grow: 1;
}
